/*------------------------------------- DEFAULT STYLES --------------------------------------*/
.form-container {
  background-image: url('/src/assets/mobile_wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  margin: 2rem auto;
  padding-top: 10rem;
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.mycard {
  width: 90%;
  height: 60%;
  padding: 2rem;
  border-width: 0.1rem;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0rem 1rem 3rem rgba(206, 228, 202, 0.572);
  background-color: rgb(255, 255, 255);
}

.button {
  background: rgb(28,184,183);
  border: 1px solid rgba(128, 128, 128, 0.364);
  width: 8rem; /* Slightly smaller for mobile */
  height: 3rem;
  border-radius: 10%;
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 600;
}

.form-input {
  margin: 0.2rem auto;
  display: block;
  width: 90%;
  height: auto;
  max-width: 15rem;
}

.customTable {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.formTitle{
  font-size: 40px;
  font-weight: 500;
}

/*------------------------------------- MEDIA QUERY --------------------------------------*/

/*------------------------------------- MOBILE + --------------------------------------*/
@media(min-width: 640px){
  
  .form-container {
    background-image: url('/src/assets/mobile_wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    width: 90%;
    max-width: 40rem;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .mycard {
    width: 90%;
    height: auto;
    padding: 2rem;
    border-width: 0.1rem;
    border-radius: 30px;
    text-align: center;
    margin: 2rem auto;
    box-shadow: 0rem 1rem 3rem rgba(206, 228, 202, 0.572);
    background-color: rgb(255, 255, 255);
  }
  
  .button {
    background: rgb(28,184,183);
    border: 1px solid rgba(128, 128, 128, 0.364);
    width: 8rem;
    height: 3rem;
    border-radius: 10%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  
  .form-input {
    margin: 0.2rem auto;
    display: block;
    width: 90%;
    max-width: 15rem;
  }
  
  .customTable {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  
  .formTitle{
    font-size: 40px;
    font-weight: 500;
  }
  
}

/*------------------------------------- DESKTOP --------------------------------------*/
@media(min-width: 960px){
  
  .form-container{
    background-image: url('/src/assets/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30rem;
    padding-top: 10rem;
    max-width: 90%;
    margin: auto;
    margin-top: 2.5%;
    width: 200rem;
    height: 45rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .mycard{
    width: 30rem;
    height: auto;
    padding: 1rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    border-width: 0.1rem;
    border-radius: 60px;
    font-size: 20px;
    text-align: center;
    margin-left: 25rem;
    margin-bottom:40rem;
    box-shadow: 0rem 1rem 3rem rgba(206, 228, 202, 0.572);
    background-color: rgb(255, 255, 255);
  }

  .button{
    background: rgb(28,184,183);
    border: 1px solid rgba(128, 128, 128, 0.364);
    width: 10rem;
    height: 4rem;
    border-radius: 10%;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:white;
  }

  .form-input{
    margin: 0.3rem;
    display: block;
    margin-left: 2rem;
    margin-right: auto;
    width: 15rem;
  }

  .customTable {
    margin-left: auto;
    margin-right: auto;
    max-width: 10rem;
  }

  .formTitle{
    font-size: 40px;
    font-weight: 500;
  }
  
}


